<div  ng-show="isRaceExists" class="panel panel-primary">
  	<div class="panel-heading">
    	<h3 class="panel-title">Race Detail</h3>
  	</div>
  	<div class="panel-body">
		<p>Race Name: {{raceDetail.raceName}}, {{raceDetail.Circuit.circuitName}}</p>
		<p>Race: {{numRace}} of {{totalRacesYear}}</p>
		<p>Date: {{raceDetail.date | date: 'dd/MM/yyyy'}}</p>
		<p>Hour: {{raceDetail.time.substring(0,5)}}</p>
  	</div>
</div>
<div ng-show="isRaceExists">
	<ul class="nav nav-tabs">
		<li><a href="" ng-click="isRace=true;isQualifying=false;isPitstop=false;isStanding=false">Race</a></li>
		<li><a href="" ng-click="isRace=false;isQualifying=false;isPitstop=true;isStanding=false">PitStops</a></li>
		<li><a href="" ng-click="isRace=false;isQualifying=true;isPitstop=false;isStanding=false">Qualifying</a></li>
		<li><a href="" ng-click="isRace=false;isQualifying=false;isPitstop=false;isStanding=true">Standings</a></li>
	</ul>	
	<div ng-show="isRace">
		<table class="table table-striped">
			<tr>
				<th>Pos</th>
				<th>Points</th>
				<th>Driver</th>
				<th>Constructor</th>
				<th>Laps</th>
				<th>Time</th>
				<th>Status</th>
				<th>Fastest Lap</th>
				<th>Avg. Speed</th>
			</tr>
			<tr ng-repeat="item in raceDetail.Results">
				<td>{{item.positionText}}</td>
				<td>{{item.points}}</td>
				<td><a href="{{item.Driver.url}}">{{item.Driver.givenName}} {{item.Driver.familyName}}</a></td>
				<td><a href="{{item.Constructor.url}}">{{item.Constructor.name}}</a></td>
				<td>{{item.laps}}</td>
				<td>{{item.Time.time}}</td>
				<td>{{item.status}}</td>
				<td>
					Pos {{item.FastestLap.rank}} on lap {{item.FastestLap.lap}} with {{item.FastestLap.Time.time}}
				</td>
				<td>{{item.FastestLap.AverageSpeed.speed}}</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="isQualifying">
		<table class="table table-striped">
			<tr>
				<th>Pos</th>
				<th>Driver</th>
				<th>Constructor</th>
				<th>Q1</th>
				<th>Q2</th>
				<th>Q3</th>
			</tr>
			<tr ng-repeat="qua in qualifying.QualifyingResults">
				<td>{{qua.position}}</td>
				<td>{{qua.Driver.givenName}} {{qua.Driver.familyName}}</td>
				<td>{{qua.Constructor.name}}</td>
				<td>{{qua.Q1}}</td>
				<td>{{qua.Q2}}</td>
				<td>{{qua.Q3}}</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="isPitstop">
		<table class="table table-striped">
			<tr>
				<th>Driver</th>
				<th>Lap</th>
				<th>Stop</th>
				<th>Time</th>
				<th>Duration</th>
			</tr>
			<tr ng-repeat="ps in pitStops.PitStops">
				<td>{{ps.driverId}}</td>
				<td>{{ps.lap}}</td>
				<td>{{ps.stop}}</td>
				<td>{{ps.time}}</td>
				<td>{{ps.duration}}</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="isStanding">
		<hr />
		<p>Clasification: 
			<a href="" ng-click="standingDriver=true">Drivers</a> & 
			<a href="" ng-click="standingDriver=false">Constructors</a>
		</p>
		
		<div ng-show="standingDriver">
			<table class="table table-striped">
				<tr>
					<th>Pos</th>
					<th>Driver</th>
					<th>Constructor</th>
					<th>Points</th>
					<th>Wins</th>
				</tr>
				<tr ng-repeat="dri in driverStanding">
					<td>{{dri.position}}</td>
					<td>{{dri.Driver.givenName}} {{dri.Driver.familyName}}</td>
					<td>{{dri.Constructors[0].name}}</td>
					<td>{{dri.points}}</td>
					<td>{{dri.wins}}</td>
				</tr>
			</table>
		</div>
		
		<div ng-show="!standingDriver">
			<table class="table table-striped">
				<tr>
					<th>Pos</th>
					<th>Constructor</th>
					<th>Nationality</th>
					<th>Points</th>
					<th>Wins</th>
				</tr>
				<tr ng-repeat="cs in constructorStanding">
					<td>{{cs.position}}</td>
					<td>{{cs.Constructor.name}}</td>
					<td>{{cs.Constructor.nationality}}</td>
					<td>{{cs.points}}</td>
					<td>{{cs.wins}}</td>
				</tr>
			</table>
		</div>
		
	</div>
</div>

<div ng-show="!isRaceExists" class="alert alert-warning">
	<h3>Race information is not available yet. Sorry</h3>
</div>