<p>Select a year to show it the raceList</p>
<select class="form-control" ng-model="year" ng-change="showRace(year);" ng-options="y.name for y in years">
	<option value="">-- choose year --</option>
</select>
<hr />
<div class="loading" ng-show="isLoadingData">
	<p>Loading data...</p>
</div>
<div class="listRace">
	<h2>Year selected: {{evaluatedYear.name}}</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Round</th>
				<th>Date & GMT</th>
				<th>Race Name</th>
				<th>Circuit Name</th>
				<th>Information</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="race in raceList">
				<td>{{race.round}}</td>
				<td>{{race.date | date: 'dd/MM/yyyy'}} {{race.time.substring(0,5)}}</td>
				<td><a href="{{race.url}}">{{race.raceName}}</a></td>
				<td><a href="{{race.Circuit.url}}">{{race.Circuit.circuitName}}</a></td>
				<td><a href="#/race/{{race.round}}/{{race.season}}">See details</a></td>
			</tr>
		</tbody>

	</table>
</div>