<p>Select a year to show it the raceList</p>
<select ng-model="year" ng-options="y.name for y in years">
	<option value="">-- choose year --</option>
</select>
<button ng-click="showRace(year);">Show Race</button>
<hr />
<div class="loading" ng-show="isLoadingData">
	<p>Cargando datos...</p>
</div>
<div class="listRace">
	<table>
		<tr>
			<th>Round</th>
			<th>Date & GMT</th>
			<th>Race Name</th>
			<th>Circuit Name</th>
			<th>Information</th>
		</tr>
		<tr ng-repeat="race in raceList">
			<td>{{race.round}}</td>
			<td>{{race.date | date: 'dd/MM/yyyy'}} {{race.time.substring(0,5)}}</td>
			<td><a href="{{race.url}}">{{race.raceName}}</a></td>
			<td><a href="{{race.Circuit.url}}">{{race.Circuit.circuitName}}</a></td>
			<th><a href="#/race/{{race.round}}/{{race.season}}">See details</a></th>
		</tr>
	</table>
</div>