<input type="text" ng-model="searchConstructor" placeholder="Search constructor" />
<div>
	<table>
		<tr>
			<th>Constructor Name</th>
			<th>Nationality</th>
			<th>Information</th>
		</tr>
		<tr ng-repeat="cons in constructorLimit1 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit2 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit3 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit4 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit5 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit6 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
		<tr ng-repeat="cons in constructorLimit7 | filter : searchConstructor">
			<td>{{cons.name}}</td>
			<td>{{cons.nationality}}</td>
			<td><a href="{{cons.url}}">Read wikipedia</a></td>
		</tr>
	</table>
</div>