<input type="text" class="form-control" ng-model="searchConstructor" placeholder="Search constructor" />
<div class="loading" ng-show="isLoadingData">
	<p>Loading data...</p>
</div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Constructor Name</th>
				<th>Nationality</th>
				<th>Information</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cons in constructorLimit1 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit2 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit3 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit4 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit5 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit6 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
			<tr ng-repeat="cons in constructorLimit7 | filter : searchConstructor">
				<td>{{cons.name}}</td>
				<td>{{cons.nationality}}</td>
				<td><a href="{{cons.url}}">Read wikipedia</a></td>
			</tr>
		</tbody>
	</table>
</div>